<div class="-m-6 flex max-h-screen max-w-240 min-w-[80vw] flex-col md:min-w-160">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Create Shop</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>

    <!-- Create form -->
    <form
        class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8"
        [formGroup]="shopForm"
    >
        <!-- Name -->
        <mat-form-field>
            <mat-label>Shop Name</mat-label>
            <input matInput [formControlName]="'name'" />
        </mat-form-field>

        <!-- Description -->
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [formControlName]="'description'" rows="3"></textarea>
        </mat-form-field>

        <!-- Logo URL -->
        <mat-form-field>
            <mat-label>Logo URL</mat-label>
            <input matInput [formControlName]="'logo'" />
        </mat-form-field>

        <!-- Banner URL -->
        <mat-form-field>
            <mat-label>Banner URL</mat-label>
            <input matInput [formControlName]="'banner'" />
        </mat-form-field>

        <!-- Actions -->
        <div
            class="mt-4 flex flex-col justify-between sm:mt-6 sm:flex-row sm:items-center"
        >
            <div class="-ml-2"></div>
            <div class="mt-4 flex items-center sm:mt-0">
                <button
                    class="order-first sm:order-last"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="saveAndClose()"
                >
                    Create
                </button>
            </div>
        </div>
    </form>
</div>
